:root {
  --lightblue100: #f3f5fc;
  --lightblue200: #eff1fa;
  --lightblue300: #e9ecf8;
  --lightblue400: #aab2d5;
  --lightblue500: #757fb2;

  --darkblue100: #609ed4;
  --darkblue200: #356ea9;
  --darkblue300: #0a3871;
  --darkblue400: #072b61;
  --darkblue500: #052051;

  --gray100: #ced4da;
  --gray200: #adb5bd;
  --gray300: #868e96;
  --gray400: #495057;
  --gray500: #343a40;
}
html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: var(--lightblue100);
  padding: 1.6rem;
  height: 100vh;
}
header {
  width: 100%;
  height: rem;
  padding: 1rem;
}
.header__logo {
  display: block;
  height: 6rem;
}
main {
  height: 90%;
  margin: 1rem 0;
}
*:focus{
  outline:2px solid var(--darkblue100);
}
.seccion__encriptar {
  min-height: 60%;
  display: flex;
  flex-direction: column;
}
.input-container {
  width: 100%;
  height: 100%;
  flex: 1;
}
.input-area {
  width: 100%;
  min-height: 230px;
  height: 100%;
  overflow-y: auto;
  background-color: inherit;
  border: none;
  font-size: 3.2rem;
  color: var(--darkblue300);
  resize: none;
}

.info__container {
  width: 100%;
  display: flex;
  align-items: center;
}
.seccion__encriptar span {
  color: var(--gray400);
  font-size: 1.2rem;
  margin: 0 1rem;
}
.btn__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin: 1rem 0;
}
.primary-btn,.secondary-btn, .output__btncopy{
  font-size: 1.6rem;
  border-radius: 24px;
  padding: 24px;
}
.primary-btn {
  background-color: var(--darkblue300);
  color: #fff;
  border: none;
  flex: 1;
}
.primary-btn:hover {
  background-color: var(--darkblue400);
}

.secondary-btn{
  background-color: inherit;
  color: var(--darkblue300);
  border: 1px solid var(--darkblue300);
  flex: 1;
}
.output__btncopy{
  display: none;
  height: 70px;
  background-color: inherit;
  color: var(--darkblue300);
  border: 1px solid var(--darkblue300);
}
.secondary-btn:hover, .output__btncopy:hover {
  background-color: var(--lightblue300);
}
section {
  margin: 32px 0;
}
.output-container {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 32px;
  gap: 32px;
  overflow-wrap: break-word;
}
#output__notext-container{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.output__image {
  display: none;
}
.output__title {
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  color: var(--gray500);
}
.output__text {
  color: var(--gray400);
  text-align: center;
  font-size: 1.6rem;
}
#output-area {
  width: 100%;
  color: var(--gray400);
  font-size: 2.4rem;
}
.footer__text{
  color: var(--gray400);
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
}
.footer__text span{
  font-weight: bold;
  color: var(--darkblue300);
}
.footer__text a{
  text-decoration: none;
  color: var(--gray400);
}
.footer__text a:visited{
  color: var(--gray400);
}

@media screen and (min-width: 768px) {
  body {
    padding: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  main {
    display: flex;
    justify-content: space-between;
  }
  .seccion__encriptar {
    width: 60%;
    padding: 40px 40px 0 100px;
  }
  .btn__container {
    flex-direction: row;
  }
  .seccion__desencriptar {
    width: 30%;
  }
  .output-container {
    height: 115%;
    margin-top: -30%;
    justify-content: center;
  }
  .output__image {
    display: block;
    width: 100%;
    height: auto;
  }
}
